* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'brixtonbook';
    src: url('fonts/brixton_book-webfont.eot');
    src: url('fonts/brixton_book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/brixton_book-webfont.woff2') format('woff2'), url('fonts/brixton_book-webfont.woff') format('woff'), url('fonts/brixton_book-webfont.ttf') format('truetype'), url('fonts/brixton_book-webfont.svg#brixtonbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'brixtonbook';
}

.top {
    background-image: url('img/bg.jpg');
}
.left_top{
background: #000;
}