/* CSS Reset Code*/

* {
    margin: 0;
    padding: 0;
}
/*Font face kit generated for web font*/

@font-face {
    font-family: 'jennifer_lynneregular';
    src: url('fonts/jennifer_lynne-webfont.eot');
    src: url('fonts/jennifer_lynne-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/jennifer_lynne-webfont.woff2') format('woff2'), url('fonts/jennifer_lynne-webfont.woff') format('woff'), url('fonts/jennifer_lynne-webfont.ttf') format('truetype'), url('fonts/jennifer_lynne-webfont.svg#jennifer_lynneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Body styles*/

body {
    font-family: 'Lato', sans-serif;
 background: #ddd;
}
/*Header Styles*/
.header{

}
.top {

    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
            background-image: url('img/bg.jpg');
}

/*Left Top Styles*/
.left_top {
    background-color: #000;
    padding-right: 0px;
    height: 100vh;
    z-index: 1000;
    min-height: 515px;
}

.logo {
    text-align: center;
    color: #E30510;
    height: 40%;
    font-family: 'jennifer_lynneregular';
    font-weight: 700;
    padding-top: 10px;
}

.logo > h2 {
    line-height: 100%;
    font-size: 65px;
}

.img {
    text-align: center;
    margin: 0 auto;
    height: 60%;
    font-family: 'jennifer_lynneregular';
    color: #fff;
}

.img > h3 {
    font-size: 35px;
}

img {
    height: 200px;
}

/*Right Top styles*/
.right_top {
    padding-left: 0px;
    height: 100%;
    min-height: 515px;
}
/*Sliding Tabs Area*/

/*style for first row*/

.first_row {
    width: 40%;
    height: 130px;
    background: #E40613;
    color: white;
    padding: 5px;
    position: relative;
    word-wrap: break-word;
    margin-bottom: 10%;
    margin-top: 20%;
    cursor: pointer;
    transition: 01s;
    -webkit-transition: 01s;
    -o-transition: 01s;
    -moz-transition: 01s;
    /*box shadow*/
    
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.first_row i {
    float: right;
    font-size: 40px;
    line-height: 55px;
    margin-top: 30px;
}

.text {
    position: absolute;
    margin-left:-400px;
    font-size: 20px;
    top: 25px;
    transition: 01s;
    -webkit-transition: 01s;
    -o-transition: 01s;
    -moz-transition: 01s;
    font-weight: bold;
    padding: 5px;
}

.first_row:hover {
    width: 80%;
    
}

.first_row:hover .text {
    margin-left: 25%;
    position: absolute;
    margin-top: 17px;

}

.first_row:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 130px 45px;
    border-color: transparent transparent transparent #E40613;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #E40613;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    left: 100%;
    top: 0px;
}
/*style for first row*/
/*style for Second row*/

.second_row {
    width: 40%;
    height: 130px;
    background: #006F9D;
    color: white;
    padding: 5px;
    position: relative;
    word-wrap: break-word;
    margin-bottom: 10%;
    cursor: pointer;
    box-shadow: 10px 10px 5px #888888;
    transition: 01s;
    -webkit-transition: 01s;
    -o-transition: 01s;
    -moz-transition: 01s;
    /*box shadow*/
    
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.second_row i {
    float: right;
    font-size: 40px;
    line-height: 55px;
    margin-top: 30px;
}

.text_2 {
    position: absolute;
    margin-left:-400px;
    font-size: 20px;
    top: 25px;
    transition: 01s;
    -webkit-transition: 01s;
    -o-transition: 01s;
    -moz-transition: 01s;
    font-weight: bold;
    
}

.second_row:hover {
    width: 80%;
}

.second_row:hover .text_2 {
    margin-left: 25%;
    position: absolute;
    margin-top: 17px;
    
}

.second_row:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 130px 45px;
    border-color: transparent transparent transparent #006F9D;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #006F9D;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    left: 100%;
    top: 0px;
}
/*style for Second row*/
/*style for third row*/

.third_row {
    width: 40%;
    height: 130px;
    background: #3BAA34;
    color: white;
    padding: 5px;
    position: relative;
    word-wrap: break-word;
    margin-bottom: auto;
    cursor: pointer;
    box-shadow: 10px 10px 5px #888888;
    transition: 01s;
    -webkit-transition: 01s;
    -o-transition: 01s;
    -moz-transition: 01s;
    /*box shadow*/
    
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.third_row i {
    float: right;
    font-size: 40px;
    line-height: 55px;
    margin-top: 30px;
}

.text_3 {
    position: absolute;
    margin-left:-400px;
    font-size: 20px;
    top: 25px;
    transition: 01s;
    -webkit-transition: 01s;
    -o-transition: 01s;
    -moz-transition: 01s;
    font-weight: bold;
}

.third_row:hover {
    width: 80%;
}

.third_row:hover .text_3 {
    margin-left: 25%;
    position: absolute;
    margin-top: 17px;
    
}

.third_row:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 130px 45px;
    border-color: transparent transparent transparent #3BAA34;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #3BAA34;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    left: 100%;
    top: 0px;
}
/*style for third row*/
/*Sliding Tabs Area*/
/*footer top styles*/

.footer_top {
    background: #000;
    color: #fff;
    clear: both;
    position: relative;
}
/*Left Side Stylings*/
.service_des {
    padding-right: 0px;
}

.service_des h2 {
    font-size: 17px;
    text-align: center;
}

.service_des p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 21px;
    text-align: center;
    padding: 10px;
}

.middle {
    clear: both;

}
/*form area- Right Side Styling*/

.form {
    padding: 10px;
}

input,
textarea {
    background: #1b1b1d none repeat scroll 0 0;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

textarea {
    height: 100px;
}

.reset {
    width: 40%;
    float: left;
    clear: none;
    border: 1px solid #ddd;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.5s;
    background: #1B1B1D;
    cursor: pointer;
}

.submit {
    width: 40%;
    float: right;
    clear: none;
    border: 1px solid #ddd;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.5s;
    background: #1B1B1D;
    cursor: pointer;
}
/*footer top styles*/

/*footer styles*/


.footer {
    background-color: #1B1B1D;
    /*height: 50px;*/
    
    color: #fff;
    line-height: 40px;
}

.fb_button{
margin: 0 auto;
    text-align: center;
}

.col-md-4.social_profiles {
  text-align: center;
}
.social_profiles ul{
margin: 0;
    padding: 0;
}
.social_profiles ul li{
display: inline;
    
}
.social_profiles ul li a{
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
}
.social_profiles ul li a:hover{}

.twitter {
    color: #55ACEE;

}

.facebook {
    color: #46629e;


}

.pinterest {
    color: #fff;

}


.copyright p{
text-align: center;
}


/*.social_profiles {
margin: 0 auto;
    text-align: center;
}
.social_profiles ul{
margin: 0;
    padding: 0;
        text-align: center !important;
}


.social_profiles ul li{
float:  left;
    list-style: none;


}


.social_profiles ul li a{
text-decoration: none;
    padding: 10px;
    text-align: center !important;
}

.facebook {
    color: #46629e;
    font-size: 20px;
    font-weight: bold;

}

.twitter {
    color: #55ACEE;
    font-size: 20px;
    font-weight: bold;

}

.pinterest {
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}

.copyright {
    float: right;
    text-align: center;
}
.copyright > p {
    margin-right: 50px;
}
/*footer styles*/